*.pyc
.ipynb_checkpoints/
installation/temp/
installation/installation.log
presentations/
temp/
untitled*
.pixi
modflow6
win64ext*
~$*

# model data
*.hds
*.lst
*.cbc
# *.grb
*.csv
*.ucn
*.bin

.vscode/
examples/notebooks/models/
examples/notebooks/.figures/
